In [2]:
import pandas as pd
import yfinance as yf
import numbers

In [ ]:
# !pip install yfinance==0.2.54
yf.__version__

'0.2.54'

In [4]:

stock = yf.Ticker("ASIANPAINT.NS")

stock_info = stock.info

In [28]:
from datetime import datetime as dt 
st,end = "2025-01-01", "2025-01-31"

d_st, d_end = dt.strptime(st,'%Y-%M-%d') , dt.strptime(end,'%Y-%M-%d') 

s = stock.history(start=d_st, end = d_end, interval="1d")
s
# from datetime import datetime as dt
# (dt.strptime(end,'%Y-%M-%d') - dt.strptime(st,'%Y-%M-%d')).days

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-01-01 00:00:00+05:30,2280.000000,2323.199951,2280.000000,2304.649902,1067328,0.0,0.0
2025-01-02 00:00:00+05:30,2314.000000,2347.949951,2294.000000,2343.250000,1342922,0.0,0.0
2025-01-03 00:00:00+05:30,2344.000000,2348.949951,2322.149902,2335.949951,1355319,0.0,0.0
2025-01-06 00:00:00+05:30,2335.949951,2340.000000,2256.699951,2267.149902,1190987,0.0,0.0
2025-01-07 00:00:00+05:30,2272.000000,2316.000000,2272.000000,2292.600098,740798,0.0,0.0
2025-01-08 00:00:00+05:30,2287.050049,2338.000000,2272.699951,2334.350098,1439632,0.0,0.0
2025-01-09 00:00:00+05:30,2341.899902,2361.399902,2321.300049,2350.199951,1362304,0.0,0.0
2025-01-10 00:00:00+05:30,2335.600098,2348.899902,2316.000000,2320.750000,1214334,0.0,0.0
2025-01-13 00:00:00+05:30,2291.750000,2301.899902,2246.399902,2252.649902,1181928,0.0,0.0
2025-01-14 00:00:00+05:30,2269.000000,2286.350098,2237.000000,2239.949951,1316807,0.0,0.0
2025-01-15 00:00:00+05:30,2249.000000,2253.750000,2220.000000,2229.699951,1308999,0.0,0.0
2025-01-16 00:00:00+05:30,2239.000000,2239.850098,2207.800049,2215.600098,1936087,0.0,0.0
2025-01-17 00:00:00+05:30,2225.649902,2269.050049,2212.500000,2261.000000,878848,0.0,0.0
2025-01-20 00:00:00+05:30,2272.250000,2286.899902,2251.000000,2280.550049,555716,0.0,0.0
2025-01-21 00:00:00+05:30,2280.550049,2315.000000,2255.000000,2260.350098,1410294,0.0,0.0
2025-01-22 00:00:00+05:30,2270.000000,2270.000000,2244.899902,2262.100098,835523,0.0,0.0
2025-01-23 00:00:00+05:30,2262.100098,2301.800049,2246.199951,2276.350098,1142465,0.0,0.0
2025-01-24 00:00:00+05:30,2283.000000,2296.550049,2255.050049,2262.399902,543202,0.0,0.0
2025-01-27 00:00:00+05:30,2255.300049,2277.750000,2246.199951,2251.500000,1097939,0.0,0.0
2025-01-28 00:00:00+05:30,2260.000000,2267.050049,2234.100098,2241.800049,897501,0.0,0.0
2025-01-29 00:00:00+05:30,2241.800049,2246.800049,2212.050049,2223.149902,1281088,0.0,0.0
2025-01-30 00:00:00+05:30,2223.149902,2259.250000,2215.000000,2249.850098,1155718,0.0,0.0

In [32]:
s['perc_change'] = s.pct_change()['Close']

In [ ]:
(365 * 5) / 30

60.833333333333336

In [7]:


str_keys = [k for k in stock_info.keys() if type(stock_info[k]) == str ]
print(str_keys)

for k in str_keys:
    print(k,'::', stock_info[k])


# for k in str_keys:
#     print(k,':', stock.info[k])
#     print('-- '*10)

['address1', 'address2', 'city', 'zip', 'country', 'phone', 'fax', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'currency', 'lastSplitFactor', 'quoteType', 'recommendationKey', 'financialCurrency', 'symbol', 'language', 'region', 'typeDisp', 'quoteSourceName', 'customPriceAlertConfidence', 'fiftyTwoWeekRange', 'regularMarketDayRange', 'fullExchangeName', 'averageAnalystRating', 'marketState', 'exchange', 'messageBoardId', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'market', 'shortName', 'longName']
address1 :: Asian Paints House
address2 :: 6A, Shantinagar Santacruz (East)
city :: Mumbai
zip :: 400055
country :: India
phone :: 91 22 6218 1000
fax :: 91 22 6218 1111
website :: https://www.asianpaints.com
industry :: Specialty Chemicals
industryKey :: specialty-chemicals
industryDisp :: Specialty Chemicals
sector :: Basic Materials
sectorKey :: basic-materials
sectorDisp :: Basic Materials
longBusinessSummary :: Asian Paints Limited, together with its subsidiaries, engages in the manufacturing, selling, and distribution of paints, coatings, and products related to home decoration and bath fittings in Asia, the Middle East, Africa, and the South Pacific region. The company offers wall coverings; textures painting aids; waterproofing products; wall stickers; mechanized tools; adhesives; modular kitchens and wardrobes; bath fittings and sanitaryware; decorative lighting products; fabrics, furniture, furnishings, and rugs; and unplasticized polyvinyl chloride windows and door systems, as well as personalized interior design, safe painting, and color consulting services. It also provides interior and exterior wall finishes, wood finishes, enamels, tools, undercoats, thinners, and varnishers. The company offers its products under the Asian Paints, SCIB Paints, Apco Coatings, Asian Paints Berger, Taubman, Asian Paints Causeway, and Kadisco Asian Paints brand names through a network of dealers and retail stores, as well as operates asianpaints.com, an online shop. Asian Paints Limited was founded in 1942 and is headquartered in Mumbai, India.
currency :: INR
lastSplitFactor :: 10:1
quoteType :: EQUITY
recommendationKey :: hold
financialCurrency :: INR
symbol :: ASIANPAINT.NS
language :: en-US
region :: US
typeDisp :: Equity
quoteSourceName :: Free Realtime Quote
customPriceAlertConfidence :: HIGH
fiftyTwoWeekRange :: 2185.7 - 3394.9
regularMarketDayRange :: 2226.1 - 2249.8
fullExchangeName :: NSE
averageAnalystRating :: 3.3 - Hold
marketState :: REGULAR
exchange :: NSI
messageBoardId :: finmb_878276
exchangeTimezoneName :: Asia/Kolkata
exchangeTimezoneShortName :: IST
market :: in_market
shortName :: ASIAN PAINTS LIMITED
longName :: Asian Paints Limited

In [18]:

for k in stock.__dir__():
    if k[0]!='_':
        try:
            val = getattr(stock,k)
            typ = type(val)
            if typ == pd.DataFrame:
                print(k, val.shape)
        except Exception as e:
            print('problem with :', k, 'Faced error : ',e)

major_holders (0, 0)
institutional_holders (0, 0)
mutualfund_holders (0, 0)
insider_purchases (0, 0)
insider_transactions (0, 0)
insider_roster_holders (0, 0)

TATASTEEL.NS: No price data found, symbol may be delisted (1d 1926-03-16 -> 2025-02-19)
TATASTEEL.NS: No price data found, symbol may be delisted (1d 1926-03-16 -> 2025-02-19)
TATASTEEL.NS: No price data found, symbol may be delisted (1d 1926-03-16 -> 2025-02-19)
TATASTEEL.NS: No price data found, symbol may be delisted (1d 1926-03-16 -> 2025-02-19)

problem with : shares Faced error :  Have not implemented fetching 'shares' from Yahoo API

429 Client Error: Too Many Requests for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/TATASTEEL.NS?modules=calendarEvents&corsDomain=finance.yahoo.com&formatted=false&symbol=TATASTEEL.NS&crumb=Edge%3A+Too+Many+Requests
429 Client Error: Too Many Requests for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/TATASTEEL.NS?modules=recommendationTrend&corsDomain=finance.yahoo.com&formatted=false&symbol=TATASTEEL.NS&crumb=Edge%3A+Too+Many+Requests

recommendations (0, 0)
recommendations_summary (0, 0)

429 Client Error: Too Many Requests for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/TATASTEEL.NS?modules=upgradeDowngradeHistory&corsDomain=finance.yahoo.com&formatted=false&symbol=TATASTEEL.NS&crumb=Edge%3A+Too+Many+Requests

upgrades_downgrades (0, 0)
problem with : earnings Faced error :  Have not implemented fetching 'earnings' from Yahoo API
problem with : quarterly_earnings Faced error :  Have not implemented fetching 'earnings' from Yahoo API
income_stmt (0, 0)
quarterly_income_stmt (0, 0)
incomestmt (0, 0)
quarterly_incomestmt (0, 0)
financials (0, 0)
quarterly_financials (0, 0)
balance_sheet (0, 0)
quarterly_balance_sheet (0, 0)
balancesheet (0, 0)
quarterly_balancesheet (0, 0)
cash_flow (0, 0)
quarterly_cash_flow (0, 0)
cashflow (0, 0)
quarterly_cashflow (0, 0)
problem with : analyst_price_target Faced error :  Have not implemented fetching 'analyst_price_target' from Yahoo API
problem with : revenue_forecasts Faced error :  Have not implemented fetching 'rev_est' from Yahoo API
problem with : sustainability Faced error :  Have not implemented fetching 'sustainability' from Yahoo API
problem with : options Faced error :  Expecting value: line 1 column 1 (char 0)
problem with : news Faced error :  Expecting value: line 1 column 1 (char 0)
problem with : trend_details Faced error :  Have not implemented fetching 'analyst_trend_details' from Yahoo API
problem with : earnings_trend Faced error :  Have not implemented fetching 'earnings_trend' from Yahoo API

TATASTEEL.NS: No earnings dates found, symbol may be delisted

problem with : earnings_forecasts Faced error :  Have not implemented fetching 'eps_est' from Yahoo API